print("Duygu")

# Pandas
Pandas pythonda veri analiz ve manipülasyonu yapmamızı sağlayan bir kütüphanedir.

In [3]:
import pandas as pd

# Pandas Series
Tek boyutlu dizilerdir.(Exceldeki sütun)

In [4]:
series1 = pd.Series( [10,20,30,40])
series1

0    10
1    20
2    30
3    40
dtype: int64

# Pandas DataFrame (Tablo)
Birden fazla sütun içeren tablo (Excel dosyası)

In [5]:
data = {  "Ad": ["Ali","Ayşe","Mehmet","Zeynep"], "Yaş": [25,30,35,40]   }

In [6]:
df1 = pd.DataFrame(data)
df1

       Ad  Yaş
0     Ali   25
1    Ayşe   30
2  Mehmet   35
3  Zeynep   40

In [7]:
import zipfile
import os

# ZIP dosyasının adı (Notebook’un olduğu klasörde)
zip_path = "archive.zip"
extract_folder = "dataset"

# ZIP dosyasını aç ve çıkar
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

# Çıkarılan dosyaları listele
os.listdir(extract_folder)

FileNotFoundError: [Errno 2] No such file or directory: 'archive.zip'

In [ ]:
df2 = pd.read_csv("Chocolate Sales.csv")
df2

In [ ]:
import os
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
os.listdir('dataset')

In [ ]:


df2 = pd.read_csv('dataset/Chocolate Sales.csv')
df2

## Veri Ön Hazırlığı

In [13]:
# Verileri boş olan bir csv dosyası yükle.
df=pd.read_csv("Chocolate Sales2.csv")
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180.0
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",NaN
2,Gigi Bohling,India,Peanut Butter Cubes,NaN,"$4,501",91.0
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,NaN,NaN
4,Jehu Rudeforth,UK,NaN,24-Feb-22,"$13,685",184.0
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323.0
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119.0
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217.0
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384.0
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344.0

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df["Boxes Shipped"]

In [ ]:
#Dolu verilerin aritmetik ortalaması
df["Boxes Shipped"].mean()

In [ ]:
df["Boxes Shipped"]=df["Boxes Shipped"].fillna( df["Boxes Shipped"].mean())

In [ ]:
df["Boxes Shipped"]

In [ ]:
df.isnull().sum()

In [ ]:
df["Amount"]

In [ ]:
# Veri Formatı Değiştirilmeli
# #5,320 -> 5320 float -> mean()
df['Amount']=df['Amount'].astype(str).str.replace("[$,]","",regex=True).astype(float)
df["Amount"]

In [ ]:
df['Amount'].mean()

In [ ]:
df['Amount'].fillna( df['Amount'].mean() , inplace=True)
df["Amount"]

In [ ]:
df.isnull().sum()

## ForwardFill BackwardFill

In [ ]:
df["Date"]

In [ ]:
#df["Date"]=df["Date"].fillna(method="ffill").fillna(method="bfill")
df["Date"]=df["Date"].ffill().bfill()

In [ ]:
df["Date"]

In [ ]:
df.isnull().sum()

In [ ]:
# En çok tekrar eden değerler
df["Country"].mode()[0]

In [ ]:
#df['Country'].fillna(df['Country'].mode()[0],inplace=True)
df["Country"]=df['Country'].fillna(df['Country'].mode()[0])

In [14]:
df.isnull().sum()

Sales Person      0
Country          12
Product          13
Date              9
Amount            8
Boxes Shipped    11
dtype: int64

### Product alanını dolduralım. -> Her bir sales person için en çok sattığı ürünle o boş alan dolmalı.

In [33]:
# Satış elemanı başına en çok satılan ürünü bul
most_sold_products = df.groupby('Sales Person')['Product'].apply(lambda x: x.value_counts().index[0] if len(x.value_counts()) > 0 else np.nan)

# Boş ürün alanlarını doldur
df['Product'] = df.apply(lambda row: most_sold_products[row['Sales Person']] if pd.isnull(row['Product']) else row['Product'], axis=1)

'''
Satış Elemanı Başına En Çok Satılan Ürünü Bulma:

df.groupby('Sales Person')['Product'] komutuyla, DataFrame'i "Sales Person" (Satış Elemanı) sütununa göre gruplandırıyoruz 
ve ardından "Product" (Ürün) sütununu seçiyoruz.

.apply(lambda x: x.value_counts().index[0] if len(x.value_counts()) > 0 else np.nan) komutu, her satış elemanı grubu için aşağıdaki işlemleri yapar:
x.value_counts(): Her ürünün kaç kez satıldığını sayar.

.index[0]: En çok satılan ürünün adını alır.
if len(x.value_counts()) > 0 else np.nan: Eğer bir satış elemanının hiç ürünü yoksa, NaN (boş değer) döndürür.
Sonuç olarak, most_sold_products adlı bir seri elde ederiz. Bu seri, her satış elemanı için en çok satılan ürünün adını içerir.

Boş Ürün Alanlarını Doldurma:
df['Product'] = df.apply(lambda row: most_sold_products[row['Sales Person']] if pd.isnull(row['Product']) else row['Product'], axis=1) komutu, DataFrame'deki her satır için aşağıdaki işlemleri yapar:
pd.isnull(row['Product']): "Product" sütunundaki değerin boş olup olmadığını kontrol eder.

most_sold_products[row['Sales Person']]: Eğer değer boşsa, ilgili satış elemanının en çok satılan ürününü alır.
else row['Product']: Eğer değer boş değilse, mevcut değeri korur.
Bu şekilde, "Product" sütunundaki boş değerler, ilgili satış elemanının en çok satılan ürünüyle doldurulur.
'''

'\nSatış Elemanı Başına En Çok Satılan Ürünü Bulma:\n\ndf.groupby(\'Sales Person\')[\'Product\'] komutuyla, DataFrame\'i "Sales Person" (Satış Elemanı) sütununa göre gruplandırıyoruz \nve ardından "Product" (Ürün) sütununu seçiyoruz.\n\n.apply(lambda x: x.value_counts().index[0] if len(x.value_counts()) > 0 else np.nan) komutu, her satış elemanı grubu için aşağıdaki işlemleri yapar:\nx.value_counts(): Her ürünün kaç kez satıldığını sayar.\n\n.index[0]: En çok satılan ürünün adını alır.\nif len(x.value_counts()) > 0 else np.nan: Eğer bir satış elemanının hiç ürünü yoksa, NaN (boş değer) döndürür.\nSonuç olarak, most_sold_products adlı bir seri elde ederiz. Bu seri, her satış elemanı için en çok satılan ürünün adını içerir.\n\nBoş Ürün Alanlarını Doldurma:\ndf[\'Product\'] = df.apply(lambda row: most_sold_products[row[\'Sales Person\']] if pd.isnull(row[\'Product\']) else row[\'Product\'], axis=1) komutu, DataFrame\'deki her satır için aşağıdaki işlemleri yapar:\npd.isnull(row[\'Product\']): "Product" sütunundaki değerin boş olup olmadığını kontrol eder.\n\nmost_sold_products[row[\'Sales Person\']]: Eğer değer boşsa, ilgili satış elemanının en çok satılan ürününü alır.\nelse row[\'Product\']: Eğer değer boş değilse, mevcut değeri korur.\nBu şekilde, "Product" sütunundaki boş değerler, ilgili satış elemanının en çok satılan ürünüyle doldurulur.\n'

In [31]:
df.isnull().sum()

Sales Person      0
Country          12
Product           0
Date              9
Amount            8
Boxes Shipped    11
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
Product_top       0
dtype: int64

In [10]:
data = {
    "Product": ["A", "B", "A", "B", "A", "C", "C"],
    "Amount": [100, 200, 150, 250, None, 300, None]
}

df1 = pd.DataFrame(data)
df1

  Product  Amount
0       A   100.0
1       B   200.0
2       A   150.0
3       B   250.0
4       A     NaN
5       C   300.0
6       C     NaN

In [ ]:
df1["Amount"].mean()

In [ ]:
df1.groupby("Product")["Amount"].mean()