In [ ]:
print("Duygu")

# Pandas
Pandas pythonda veri analiz ve manipülasyonu yapmamızı sağlayan bir kütüphanedir.

In [1]:
import pandas as pd

# Pandas Series
Tek boyutlu dizilerdir.(Exceldeki sütun)

In [6]:
series1 = pd.Series( [10,20,30,40])
series1

0    10
1    20
2    30
3    40
dtype: int64

# Pandas DataFrame (Tablo)
Birden fazla sütun içeren tablo (Excel dosyası)

In [10]:
data = {  "Ad": ["Ali","Ayşe","Mehmet","Zeynep"], "Yaş": [25,30,35,40]   }

In [11]:
df1 = pd.DataFrame(data)
df1

       Ad  Yaş
0     Ali   25
1    Ayşe   30
2  Mehmet   35
3  Zeynep   40

In [12]:
import zipfile
import os

# ZIP dosyasının adı (Notebook’un olduğu klasörde)
zip_path = "archive.zip"
extract_folder = "dataset"

# ZIP dosyasını aç ve çıkar
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

# Çıkarılan dosyaları listele
os.listdir(extract_folder)

['Chocolate Sales.csv', 'Chocolate Sales.xlsx']

In [16]:
df2 = pd.read_csv("Chocolate Sales.csv")
df2

FileNotFoundError: [Errno 2] No such file or directory: 'Chocolate Sales.csv'

In [17]:
import os
os.getcwd()

'C:\\Users\\CASPER\\OneDrive\\Masaüstü\\python_acunmedya_d\\ai'

In [18]:
os.listdir()

['.ipynb_checkpoints', 'archive.zip', 'dataset', 'Untitled.ipynb']

In [19]:
os.listdir('dataset')

['Chocolate Sales.csv', 'Chocolate Sales.xlsx']

In [23]:


df2 = pd.read_csv('dataset/Chocolate Sales.csv')
df2

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344

## Veri Ön Hazırlığı

In [4]:
# Verileri boş olan bir csv dosyası yükle.
df=pd.read_csv("Chocolate Sales2.csv")
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180.0
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",NaN
2,Gigi Bohling,India,Peanut Butter Cubes,NaN,"$4,501",91.0
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,NaN,NaN
4,Jehu Rudeforth,UK,NaN,24-Feb-22,"$13,685",184.0
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323.0
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119.0
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217.0
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384.0
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344.0

In [5]:
df.isnull()

      Sales Person  Country  Product   Date  Amount  Boxes Shipped
0            False    False    False  False   False          False
1            False    False    False  False   False           True
2            False    False    False   True   False          False
3            False    False    False  False    True           True
4            False    False     True  False   False          False
...            ...      ...      ...    ...     ...            ...
1089         False    False    False  False   False          False
1090         False    False    False  False   False          False
1091         False    False    False  False   False          False
1092         False    False    False  False   False          False
1093         False    False    False  False   False          False

[1094 rows x 6 columns]

In [6]:
df.isnull().sum()

Sales Person      0
Country          12
Product          13
Date              9
Amount            8
Boxes Shipped    11
dtype: int64

In [7]:
df["Boxes Shipped"]

0       180.0
1         NaN
2        91.0
3         NaN
4       184.0
        ...
1089    323.0
1090    119.0
1091    217.0
1092    384.0
1093    344.0
Name: Boxes Shipped, Length: 1094, dtype: float64

In [8]:
#Dolu verilerin aritmetik ortalaması
df["Boxes Shipped"].mean()

np.float64(161.4819944598338)

In [9]:
df["Boxes Shipped"]=df["Boxes Shipped"].fillna( df["Boxes Shipped"].mean())

In [10]:
df["Boxes Shipped"]

0       180.000000
1       161.481994
2        91.000000
3       161.481994
4       184.000000
           ...
1089    323.000000
1090    119.000000
1091    217.000000
1092    384.000000
1093    344.000000
Name: Boxes Shipped, Length: 1094, dtype: float64

In [11]:
df.isnull().sum()

Sales Person      0
Country          12
Product          13
Date              9
Amount            8
Boxes Shipped     0
dtype: int64

In [12]:
df["Amount"]

0        $5,320
1        $7,896
2        $4,501
3            NaN
4       $13,685
          ...
1089     $4,410
1090     $6,559
1091       $574
1092     $2,086
1093     $5,075
Name: Amount, Length: 1094, dtype: object

In [15]:
# Veri Formatı Değiştirilmeli
# #5,320 -> 5320 float -> mean()
df['Amount']=df['Amount'].astype(str).str.replace("[$,]","",regex=True).astype(float)
df["Amount"]

0        5320.0
1        7896.0
2        4501.0
3           NaN
4       13685.0
         ...
1089     4410.0
1090     6559.0
1091      574.0
1092     2086.0
1093     5075.0
Name: Amount, Length: 1094, dtype: float64

In [ ]:
df['Amoun